@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html,
body {
    font-family: 'Zen Tokyo Zoo', cursive;
    line-height: 1.8rem;
    background: #fff;
    
}

a {
    text-decoration: none;
    color: crimson;
}




.btn {
    display: inline-block;
    background: crimson;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    padding: 5px 15px;
    margin: 10px 20px;
}

.d-none {
    display: none;
}

.btn:hover {
    transform: scale(1.1);
    background-color:#333;
}

.btn-secondary {
    font: inherit;
    font-size: 13px;
    background: #000;
    color: #fff !important;
    border: 0;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 10px 20px;
    cursor: pointer;
    
}

.btn-secondary:hover {
    opacity: 0.8;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon svg {
    margin-right: 5px;
}
.card {
    background: lemonchiffon;
    padding: 1rem;
    margin: 10px 5px;
}

.short-questions {
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

 
 .card p {
     font-size: 1rem;
 }
 
 .card h6 {
     color: crimson;
     font-size: 1.4rem;
 }

 @media (max-width:768px) {
     .short-questions {
         display: flex;
         flex-direction: column;
         margin-top: 2rem;
     }
 }

 .videoItem {
  
     display: grid;
     padding: 20px 20px;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 1rem;
     font-family: Arial, Helvetica, sans-serif;
     
 }

 .videoItem .display {
    
     grid-column: 1/ span 3;
     align-items: center;
     margin-top: 10px;
    
 }

 .videoItem .screen {
     height: 480px;
 }

 .videoItem li {
   
         list-style: none;
         font-size: 1rem;
         background: crimson;
         margin: 5px 5px;
         padding: 5px 10px;
         color:white;
         cursor:pointer;
         border-radius: 10px;
         text-align: center;
    
 }

 .videoItem li:hover {
      background: #333;
 }

 .videoItem .details {
     background: #EEEDED;
     border-radius: 20px ;
     text-align: center;
     padding: 10px 20px;
 }
 
 .videoItem p {
     color: crimson;
     font-size :1.3rem;
 }

 @media (max-width:768px) {
     .videoItem {
         margin: 10px;
         display: grid;
         padding: 20px 20px;
         grid-template-columns: repeat(1, 1fr);
         grid-gap: 1rem;
         font-family: Arial, Helvetica, sans-serif;
         align-items: center;
     }

     .videoItem player {
         border:none;
        
     }

      .videoItem .screen {
          height: 200px;
      }
 }